#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.data-container form {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.data-container form input {
  width: 88px;
}
.person-data {
  width: 260px;
  margin: 0 auto;
}

.person-data:hover {
  cursor: pointer;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

.logOut {
  margin-top: 12px;
  padding: 6px 12px;
  border: 1px solid orangered;
}

.data-login {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  margin-top: 20px;
}

.data-login input {
  width: 100px;
  margin-left: 8px;
}

.data-login button {
  margin-top: 4px;
  padding: 6px 12px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
